@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body {
  background-color: #fff;
  transition: background 0.2s linear;
  margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;

}
::-webkit-scrollbar-thumb {
    background: #FF0000;
    display: none;
}

:root{
    --secondaryFont: "Montserrat", sans-serif, serif;
    --Orange: #e3720f;
}



/* ------ */



/* Header Button */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.1vw;
  font-weight: 500;
  height: 45px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 11vw;
  will-change: transform,opacity;
  z-index: 0;
  margin-bottom: -1.1vw;
}

.button-17:hover {
    transition: ease 0.3s;
    background: var(--Orange);
    color: #f3f3f3;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
background-color: var(--Orange) ;
  color: #f3f3f3;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
/* ------ */

/* Navbar */

.nav {
    height: 50px;
    width: 100%;
    /* background-color: #4d4d4d; */
    position: relative;
    margin-right: 2vw ;
    margin-bottom: -1.4vw;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 2vw;
    text-decoration: none;
    color: #fff;
  }
  
  .nav > .nav-links > a:hover {
    transition: ease 0.5s;
    color: var(--Orange);
    transform: scale(1.1);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
/* Navbar */



/* HEADER SECTION */

header{
    min-height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
    background-color: #000;
    padding: 0 5vw;
    /* border: 1px solid red; */
}

.header-left-container{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 1px solid red; */
}

/* Logo */
.header-left-container img{
    width: 15vw;
    /* margin-top: -0.8vw; */
}

.header-right-container{
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: 1px solid yellow; */
}


body.dark {background-color: #121315;}

body.dark h1, body.dark .support a {color: #fff;}
body.dark .checkbox-label{
    background-color: #fff;
}
body.dark .ball{
    background-color: #111;
    width: 1.8vw;
    height: 1.8vw;
}


.modeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 4.2vw;
  height: 2.2vw;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.ball {
  background-color: #fff;
  width: 1.6vw;
  height: 1.6vw;
  display: block;
  position: relative;
  right: 3.9vw;
  border-radius: 50%;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.checkbox:checked + .checkbox-label + .ball {
  transform: translateX(2vw);
}

.header{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .checkbox-label{
        width: 12vw;
        height: 6vw;
    }
    .fa-moon,.fa-sun{
        font-size: 3vw;
    }
    .ball{
        width: 4vw;
        height: 4vw;
        right: 11vw;
    }
    body.dark .ball{
        width: 5vw;
        height: 5vw;
    }    
    .checkbox:checked + .checkbox-label + .ball {
        transform: translateX(5.2vw);
    }
}




/* SERVICES SECTION */
.serviceSection{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerServ{
    width: 75%;
}
.serv-p1{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3%;
}
.serv-p1 h1{
    font-family: var(--secondaryFont);
    font-size: 3.5vw;
}
.hr-servP1{
    background: linear-gradient(to right,rgba(230, 69, 246, 0.8) 0%, 
    rgba(180, 111, 245, 0.8) 20%, 
    rgba(151, 136, 245, 0.8) 40%, 
    rgba(108, 173, 245, 0.8) 60%, 
    rgba(54, 219, 245, 0.8) 80%, 
    rgba(50, 141, 249, 0.8) 90%, 
    rgba(63, 95, 251, 0.8) 100%);

    width: 15%;
    height: 0.165vw;
    border-radius: 150px;
}

.serv-p2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.serv-box{
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-left{
    width: 60%;
    height: 26vw;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.img-serv{
    width: 170%;
    height: auto;
}
.box-right{
    width: 60%;
    transform: translateX(-10%);
    height: 20vw;
    backdrop-filter: blur(20px);
    box-shadow: inset 0px 0px 20px rgb(253, 253, 253 , 0.1);
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center
}
.box-title{
    width: 85%;
    font-size: 2.5vw;
    font-family: var(--secondaryFont);
    font-weight: 700;
}
.box-logos{
    width: 85%;
}
.box-para{
    width: 85%;
    font-size: 1.1vw;
    font-family: var(--secondaryFont);
    margin-bottom: 2vw;
}
.logos-right{
    width: 3.8vw;
    margin-right: 0.5vw;
}
.box-reverse{
    flex-direction: row-reverse;
}
.right2{
    transform: translateX(10%);
}

body.dark .box-title, body.dark .box-para{
    color: #fff;
}

.brMobile{
    display: none;
}

@media (max-width: 500px) {
    .brMobile{
        display: block;
    }
    .innerServ{
        width: 95%;
    }
    .serv-p1{
        justify-content: space-between;
    }
    .serv-p1 h1{
        font-size: 7.5vw;
    }
    .hr-servP1{
        width: 25%;
        height: 0.35vw;
    }
    .serv-box{
        width: 100%;
        flex-direction: column !important;
        justify-content: center;
    }
    .box-left{
        width: 100%;
        height: 60vw;
        border-radius: 20px;
    }
    .box-right{
        transform: translateX(0vw) translateY(-30%);
        border-radius: 20px;
        width: 90%;
        height: 50vw;
    }
    .box-title{
        font-size: 6vw;
    }
    .logos-right{
        width: 8.5vw;
    }
    .box-para{
        font-size: 3.2vw;
    }
    .serv-p2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}





/* PORTFOLIO SECTION */

.port-2{
    width: 100%;
    display: flex;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.port-left{
    width: 74.75%;
}
.port-right{
    width: 23%;
    display: flex;
    justify-content: center;
}
.img-port{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 20px;
}
.img-size{
    transition: transform 0.2s linear;
}
.img-port:hover .img-size{
    transform: scale(1.04);
}

.left-up,.left-down{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin: 0vw 0vw 2vw 0vw;
}
.imgs-up1{
    width: 29vw;
    height: fit-content;
    margin-right: 2vw;
}
.imgs-up2{
    width: 22.9vw;
    height: fit-content;
}
.imgs-down1{
    margin-right: 2vw;
    width: 22vw;
    height: fit-content;
}
.imgs-down2{
    width: 30vw;
    height: 21vw;
    overflow: hidden;
    overflow-x: hidden;
}

.img-child1{
    width: 29vw;
    height: auto;
}
.img-child2{
    width: 22.9vw;
    height: auto;
}
.img-child3{
    width: 24.5vw;
    height: auto;
}
.img-child4{
    width: 30vw;
    height: 22vw;
    background-size: contain;
}

.img-right{
    width: 17.2vw;
    height: fit-content;
}
.img-child5{
    width: 17.2vw;
    height: auto;
}

@media (max-width: 500px) {
    .port-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .port-left,.port-right{
        width: 90%;
    }
    .left-up,.left-down{
        flex-direction: column;
        margin: 0vw 0vw 0vw 0vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-right{
        width: 100%;
        height: 70vw;
    }
    .img-child5{
        width: 100%;
        transform: translateY(45vw);
    }

    .imgs-up1,.imgs-up2,.imgs-down1,.imgs-down2,.img-child1,.img-child2,.img-child3,.img-child4{
        width: 100%;
        height: auto;
    }
    .imgs-up1,.imgs-up2,.imgs-down1,.imgs-down2{
        margin-bottom: 2vw;
    }
}





/*  ABOUT PART 1 STARTS */
body.dark .aboutText{
    color: #fff;
}

.about-p1{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h-about{
    margin-top: 3vw;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--secondaryFont);
    font-size: 1.8vw;
}
.wos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-family: var(--secondaryFont);
    font-weight: 600;
    letter-spacing: -3px;
}
.aboutText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35vw;
    font-size: 1.1vw;
    font-family: var(--secondaryFont);
    margin-bottom: 3vw;
}
.ab-hr{
    width: 90vw;
}
.shuffle-cards{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxes{
    width: 23vw;
    height: 30vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.223) 0px 0px 20px 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18%;
    margin-bottom: 3vw;
    z-index: 1;
    transition: all 0.2s linear;
}
.dot-p{
    width: 80%;
}
.dots{
    width: 1vw;
    height: 1vw;
    background-color: #121315;
    border-radius: 50%;
    transform: translate(-0.5vw,-2.2vw);
}
.titles{
    font-size: 1.5vw;
    color: black;
    font-weight: 800;
    font-family: var(--secondaryFont);
    width: 80%;
}
.box-content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coma-start{
    color: #000;
    font-size: 3vw;
    transform: translateY(-3vw);
}
.para-boxes{
    font-size: 1vw;
    text-indent: 2vw;
    color: rgb(48, 48, 48);
    text-transform: capitalize;
    font-family: var(--secondaryFont);
}
.coma-end{
    font-size: 3vw;
    color: #000;
    transform: translateY(3vw);
}
.names{
    font-size: 2vw;
    font-family: var(--secondaryFont);
    font-weight: 600;
    letter-spacing: -2px;
    width: 80%;
}

.box1{
    transform: translate(4vw, -2vw) rotate(8deg);
}
.box2{
    transform: translate(4vw, 8vw) rotate(-12deg);
}
.box3{
    transform: translate(-5vw, 5vw) rotate(10deg);
}
.box4{
    transform: translate(10vw, 0vw) rotate(-10deg);
}
.box5{
    transform: translate(0vw, 2vw);
    z-index: 0;
}
.box6{
    transform: translate(-5vw, 10vw) rotate(-10deg);
}
.box7{
    transform: translate(5vw, 0vw) rotate(10deg);
}
.box8{
    transform: translate(-20vw, 0vw) rotate(-10deg);
    z-index: 0;
}

.box1:hover{
    transform: translate(4vw, -2vw) rotate(0deg);
}
.box2:hover{
    transform: translate(4vw, 8vw) rotate(0deg);
}
.box3:hover{
    transform: translate(-5vw, 5vw) rotate(0deg);
    z-index: 10;
}
.box4:hover{
    transform: translate(10vw, 0vw) rotate(0deg);
    z-index: 10;
}
.box5:hover{
    transform: translate(0vw, 2vw);
    z-index: 10;
}
.box6:hover{
    transform: translate(-5vw, 10vw) rotate(0deg);
    z-index: 10;
}
.box7:hover{
    transform: translate(5vw, 0vw) rotate(0deg);
    z-index: 10;
}
.box8:hover{
    transform: translate(-20vw, 0vw) rotate(0deg);
    z-index: 10;
}
.boxes:hover{
    box-shadow: rgba(0, 0, 0, 0.223) 0px 0px 30px 15px ;
}







/* About Section */
.aboutSection{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}
.aboutInner{
    width: 80%;
}
.aboutUp{
    width: 70%;
    height: 50vh;
    font-size: 3vw;
    font-weight: 700;
    line-height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutUp h1{
    font-family: var(--secondaryFont);
}
.aboutDown{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 5vw;
}
.innerAboutDown{
    width: 60%;
    height: 85vh;
    font-size: 1.7vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.aPara{
    font-family: var(--secondaryFont);
}
.aBtn{
    font-family: var(--secondaryFont);
    width: 14vw;
    height: 5vw;
    border-radius: 50px;
    background-color: #121315;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5vw;
    transition: all 0.3s linear;
}
.aBtn:hover{
    background-color: transparent;
    color: var(--Orange);
    border: 2px solid var(--Orange);
}