/* FOOTER */
.footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.preFooter{
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}
.footerHeading{
    text-align: center;
    font-family: var(--secondaryFont);
    font-size: 2.5vw;
    font-weight: 800;
}
.footerBtn{
    font-family: var(--secondaryFont);
    width: 11vw;
    height: 4vw;
    border-radius: 50px;
    border: 2px solid #121315;
    /* background-color: #121315; */
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5vw;
    transition: all 0.3s linear;
}
.footerBtn:hover{
    /* background-color: transparent; */
    color: #fff;
    background-color: var(--Orange);
    border: none;
}

@media (max-width: 500px) {
    .footerHeading{
        text-align: center;
        font-family: var(--secondaryFont);
        font-size: 5vw;
        font-weight: 800;
    }
    .preFooter{
        width: 85%;
        height: 40vh;
        gap: 5vw;
        /* height: ; */
    }
    .footerBtn{
        width: 30vw;
        height: 11vw;
        border: 1px solid #000;
        font-size: 3.5vw;
    }
}

.hrFooter{
    width: 95%;
}

.innerFooter{
    width: 95%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerS{
    height: 70%;
}
.footerS1{
    width: 15%;
}
.footerLogo{
    width: 100%;
}
.cxtLogoFooter{
    width: 100%;
    height: auto;
}



.footerS3{
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.mail{
    font-size: 1.7vw;
    font-family: var(--secondaryFont);
    font-weight: 800;
    text-decoration: none;
    color: #000;
}
.lower{
    font-family: var(--secondaryFont);
    font-size: 1.2vw;
    text-decoration: none;
    color: #495558;
}
.lowerS3{
    height: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.upperS3{
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-between;
}
.iconsFooter{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}
.icns{
    width: 2vw;
    height: 2vw;
}
.iconsFooter:hover {
    border: 1.5px solid var(--Orange);
    background-color: var(--Orange);
}

.footerS2{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.S2Right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    justify-content: space-between;
}
.S2-a{
    text-decoration: none;
    font-family: var(--secondaryFont);
    font-weight: 800;
    color: #000;
    font-size: 2.2vw;
}
.s2Heading{
    font-family: var(--secondaryFont);
    font-weight: 800;
    font-size: 1.2vw;
}
.S2Left{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footerSocial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

@media (max-width: 500px) {
    .innerFooter{
        flex-direction: column;
        align-items: start;
        width: 85%;
        justify-content: center;
    }
    .footerS1{
        height: 30%;
        width: 50%;
    }
    .footerS3{
        height: 30%;
        width: 100%;
    }
    .mail{
        font-size: 5vw;
    }
    .lower{
        font-size: 4vw;
    }
    .lowerS3{
        width: 70vw;
    }
    .icns{
        width: 4vw;
        height: 4vw;
    }
    .footerS2{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
    }
    .iconsFooter{
        width: 8vw;
        height: 8vw;
    }
    .upperS3{
        height: fit-content;
    }
    .S2Right{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 5%;
    }
    .S2-a{
        font-size: 4.2vw;
    }
    .s2Heading{
        font-size: 3vw;
    }
    .S2Left{
        height: 40%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
}